/* Home.css */

.content-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Align items to the start (left for LTR languages) */
    padding: 20px;
    text-align: left;  /* Align text to the left */
    margin-top: 240px;
    margin-right: 200px;
    
  }

  .content-section h1,
.content-section h2 {
  margin-bottom: -40px; /* adjust as needed */
}

  
  h1 {
    font-size: 2.5em;
    color: white;
  }
  
  h2 {
    font-size: 20px;
    color: white;
  }
  
  p {
    margin-top: 50px;
    font-size: 15px;
    color: #999;
    margin-bottom: 40px;
  }
  
  button {
    /* margin-top: 25px; */
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #222222; /* Update to the black color */
    color: white;
    cursor: pointer;
    opacity: 0;
    border: 2px solid white; /* Set border color to white */
    transition: opacity 2s;
  }
  
  button:hover {
    background-color: #111111; /* Darker shade for hover effect */
  }
  button.fade-in {
    opacity: 1;
  }
  
  .fade-in {
    animation: fadeIn 2s ease-in forwards;
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  